.ip-box-md {
    height: 60px;
    width: 100px;
}
.ip-box-lg {
    height: 60px;
    width: 200px;
}
button{
    height: 100%;
    width: 100%;
    background-color: #6cc8fb;
    color: white;
    border: 1px solid white;
    font-size: 20px;
}
button:hover{
    height: 100%;
    width: 100%;
    background-color: #6cc8fb;
    color: navy;
    font-size: 20px;
}